<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>597329598193-u520q9ft3jp4rvrgcq0i8brmks6u38k7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.597329598193-u520q9ft3jp4rvrgcq0i8brmks6u38k7</string>
	<key>API_KEY</key>
	<string>AIzaSyBEdwbI2-iPaje_qCf3kA5wyAafYjv10ZY</string>
	<key>GCM_SENDER_ID</key>
	<string>597329598193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jukeproduction</string>
	<key>PROJECT_ID</key>
	<string>juke-production-72b80</string>
	<key>STORAGE_BUCKET</key>
	<string>juke-production-72b80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:597329598193:ios:f8fd5dd3bd16da60</string>
	<key>DATABASE_URL</key>
	<string>https://juke-production-72b80.firebaseio.com</string>
</dict>
</plist>